{% sw_extends '@Storefront/storefront/page/account/sidebar.html.twig' %}

{% block page_account_sidebar_header %}
    {% if not headerWidget %}
        <div class="card-header account-aside-header">
            {{ "account.greetings"|trans|sw_sanitize }}
            {{ context.customer.title }}
            {{ context.customer.firstName }}
        </div>
    {% endif %}
{% endblock %}